<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/ro-logo-48x48.png"></img>
          </span>
        <span>{{site.title}}</span>
      </a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <a class="navbar-end">
        <div class="navbar-item hide-for-print">
          <span>
            <input id="algolia-search-input" placeholder="Search"></span>
          </span>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Specification</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/spec/latest/about.html">Spec (latest)</a>
<!--
            <hr class="navbar-divider"/>
            <span class="navbar-item navbar-heading">Extensions</span>
            <a class="navbar-item" href="{{siteRootPath}}/spec/extensions.html">Extensions</a>
-->
          </div>
        </div>
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Implementations</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/impl/latest/apache-isis/about.html">Apache Isis</a>
            <a class="navbar-item" href="{{siteRootPath}}/impl/latest/nof/about.html">Naked Objects Framework</a>
          </div>
        </div>
<!--
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Clients</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/clients/kroviz.html">Kroviz</a>
            <a class="navbar-item" href="{{siteRootPath}}/clients/nof-gemini.html">NOF Gemini</a>
            <a class="navbar-item" href="{{siteRootPath}}/clients/rob.html">RO Blazer</a>
          </div>
        </div>
-->
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link" href="#">Support</a>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="{{siteRootPath}}/support/latest/contact.html">Contact</a>
            <hr class="navbar-divider"/>
<!--
            <span class="navbar-item navbar-heading">License</span>
-->
            <a class="navbar-item" href="{{siteRootPath}}/support/latest/license.html">License</a>
          </div>
        </div>
        <a class="navbar-item" href="{{siteRootPath}}/docs/about.html">
          <span class="icon">
            <img src="{{siteRootPath}}/_/img/home.png"></img>
          </span>
        </a>
      </div>
    </div>
  </nav>
</header>
